* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* NAVIGASI */
.navbar {
    background-color: #1917178c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    padding: 20px;
    z-index: 100;
    border-bottom: solid 0.1px #191717;
    position: fixed;
    font-family: gatau
}

.navbar .navbar-fullname {
    color: #F1EFEF;
}

.navbar .navbar-fullname span {
    color: #7D7C7C;
}

.navbar .navbar-navigation a {
    font-size: 1.2rem;
    color: #F1EFEF;
    text-decoration: none;
    margin: 25px;
}

#menu {
    display: none;
}

/* HOME */
.containerhome {
    background-image: url(../FOTO/landing\ page\ gradasi.png);
    background-repeat: no-repeat;
    background-position-x: -25px;
    height: 100vh;
}

.welcome {
    display: flex;
    flex-direction: column;
    padding-top: 225px;
    padding-left: 200px;
    color: #F1EFEF;
}

.welcome h1 {
    font-size: 4rem;
}

.welcome p {
    font-size: 2rem;
}

.akugerrald {
    color: #CCC8AA;
}

.bgbutton a {
    text-decoration: none;
}

.bgbutton .button {
    margin-top: 25px;
    background-color: #CCC8AA;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    font-size: 1rem;
    color: #191717;
    transition: 0.3s;
}

.bgbutton :hover {
    transform: scale(0.95);
    transition: 0.3s;
    opacity: 80%;
}

/* FOOTER */
.footerbottom {
    background-color: #191717;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerbottom p {
    color: #F1EFEF;
    font-size: 1rem;
}